<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dawood Ali - @ViewBag.Title</title>

    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/basic.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet'>

    <link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="Official/personal web of Dawood Ali.">
    <meta name="keywords" content="Dawood Ali, ICT Professional, New Zealand">
    <meta name="author" content="Dawood Ali">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142529557-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-142529557-1');
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  @*   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/font-awesome2.css" rel="stylesheet">
</head>
<body style="background-color:black;">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top" style="margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" style="margin-top:15px;" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="neon-container">
                    <p class="neon-text">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">
                            <img src="~/assets/img/Dawood.jpg" class="img-logo" alt="Dawood Ali">&nbsp;&nbsp;Dawood Ali
                        </a>
                    </p>
                </div>
            </div>
            <div class="header-right">
                <a href="mailto:dawoodali@gmail.com" title="Email"><i class="fa fa-envelope small" style="color:black;"> <b>dawoodali@gmail.com</b></i></a> <br>               
                
                <a href="https://www.tiktok.com/@@dawoodali_009" target="_blank" title="Tiktok"><i class="fab fa-tiktok black pull-right" style="margin-left:3px; text-decoration:none; color:black;"></i></a>
                <a href="https://github.com/dawoodali09" target="_blank" title="Github"><i class="fa fa-github pull-right" style="color:black;"></i></a>                
                <a href="http://x.com/dawoodali" target="_blank" title="X"><i class="fa fa-twitter pull-right" style="color:black;"></i></a>
                <a href="https://www.youtube.com/dawoodali009" target="_blank" title="Youtube Channel"><i class="fa fa-youtube pull-right" style="color:black;"></i></a>
                <a href="https://www.facebook.com/prodawood/?fref=ts" target="_blank" title="Facebook"><i class="fa fa-facebook pull-right" style="color:black;"></i></a>
                <a href="https://nz.linkedin.com/in/dawoodali009" target="_blank" title="LinkedIn Profile"><i class="fa fa-linkedin pull-right" style="color:black;"></i></a>
            </div>
        </nav>

        <nav class="navbar-default navbar-side">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <div class="page-caption" style="max-height:60px;">
                            <label style="margin-top:10px; margin-left:-10px;" class="cursor typewriter-animation">@ViewBag.Title</label>
                        </div>
                    </li>
                    <li><a asp-area="" asp-page="/Index"><i class="fa fa-home"></i> Home</a></li>                    
                    <li><a asp-area="" asp-page="/PersonalInfo"><i class="fa fa-user"></i> About Me</a></li>
                    <li><a asp-area="" asp-page="/WorkHistory"><i class="fa fa-road"></i> Experience</a></li>
                    <li><a asp-area="" asp-page="/Education"><i class="fa fa-mortar-board"></i>Education & Certifications</a></li>
                    <li><a asp-area="" asp-page="/Skills"><i class="fa fa-book"></i> Skills & Expertise</a></li>
                    <li><a asp-area="" asp-page="/PersonalInfo"><i class="fa fa-pie-chart"></i> Projects & Case Studies</a></li>
                    <li><a asp-area="" asp-page="/Skills"><i class="fa fa-group"></i> Thought Leadership - Blog</a></li>
                    <li><a asp-area="" asp-page="/Videos"><i class="fa fa-film"></i> Media & Videos</a></li>
                    <li><a href="~/assets/Files/DawoodAli.pdf" target="_blank"><i class="fa fa-cloud-download"></i> Download Resume</a></li>
                    <li><a href="#"><i class="fa fa-comment"></i> Contact</a></li>
                    <li>
                        <div class="page-caption-bot">
                            <a href="https://www.tiktok.com/@@dawoodali_009" target="_blank" title="Tiktok"><i class="fab fa-tiktok" style="text-decoration:none; outline:none; color:#4380B8;"></i></a>
                            <a href="https://github.com/dawoodali09" target="_blank" title="Github"><i class="fa fa-github" style=""></i></a>
                            <a href="http://x.com/dawoodali" target="_blank" title="X"><i class="fa fa-twitter" style=""></i></a>
                            <a href="https://www.youtube.com/dawoodali009" target="_blank" title="Youtube Channel"><i class="fa fa-youtube" style=""></i></a>
                            <a href="https://www.facebook.com/prodawood/?fref=ts" target="_blank" title="Facebook"><i class="fa fa-facebook" style=""></i></a>
                            <a href="https://nz.linkedin.com/in/dawoodali009" target="_blank" title="LinkedIn Profile"><i class="fa fa-linkedin" style=""></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>

    <div id="footer-sec">
        <div>
          
            <div class="page-caption-footer">
                <a href="https://www.tiktok.com/@@dawoodali_009" target="_blank" title="Tiktok"><i class="fab fa-tiktok" style="text-decoration:none; outline:none;"></i></a>
                <a href="https://github.com/dawoodali09" target="_blank" title="Github"><i class="fa fa-github" style=""></i></a>
                <a href="http://x.com/dawoodali" target="_blank" title="X"><i class="fa fa-twitter" style=""></i></a>
                <a href="https://www.youtube.com/dawoodali009" target="_blank" title="Youtube Channel"><i class="fa fa-youtube" style=""></i></a>
                <a href="https://www.facebook.com/prodawood/?fref=ts" target="_blank" title="Facebook"><i class="fa fa-facebook" style=""></i></a>
                <a href="https://nz.linkedin.com/in/dawoodali009" target="_blank" title="LinkedIn Profile"><i class="fa fa-linkedin" style=""></i></a>
            </div>
            <div style="text-align:center;">www.dawoodali.co.nz &copy; @DateTime.UtcNow.Year</div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery-1.10.2.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>
    <script src="~/assets/js/jquery.metisMenu.js"></script>
    <script src="~/assets/js/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>